/*
 * Assignment 02
 * CSS FILE
 */


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #333;
  line-height: 1.6;
}

h1 {
  text-align: center;
  padding: 20px;
  background-color: #ffcc00; / yellow background for header /
  color: #000; / black text */
}

.Ballondor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.ballondor {
  background-color: #3498db;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  width: 30%;
  padding: 15px;
  box-sizing: border-box;
}

.ballondor img.image-fix {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #000;
}

p {
  margin-bottom: 15px;
}

.bold-text {
  font-weight: bold;
}

a.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
}

a.btn:hover {
  background-color: #333;
  color: #ffcc00;
}
